body
		{
		    width: 720px;
		    margin: 0px auto;
		}#miejsce
{
width:720px;
height:480px;
}#radio0
{
position: absolute;
width:98.166666px;
height:33.166666px;
top:410px;
left:260px;
z-index:10;
}#text0
{
position: absolute;
width:98.166666px;
height:33.166666px;
top:230px;
left:260px;
z-index:10;
}#text1
{
position: absolute;
width:28.166666px;
height:213.166666px;
top:230px;
left:360px;
z-index:9;
}#text2
{
position: absolute;
width:38.166666px;
height:213.166666px;
top:230px;
left:220px;
z-index:8;
}#text3
{
position: absolute;
width:98.166666px;
height:33.166666px;
top:320px;
left:260px;
z-index:7;
}