body
		{
		    width: 720px;
		    margin: 0px auto;
		}#miejsce
{
width:720px;
height:480px;
}#check0
{
position: absolute;
width:98.166666px;
height:33.166666px;
top:250px;
left:170px;
z-index:10;
}#radio0
{
position: absolute;
width:48.166666px;
height:263.166666px;
top:210px;
left:230px;
z-index:10;
}