body
		{
		    width: 720px;
		    margin: 0px;
		    
		}#miejsce
{
width:720px;
height:480px;
}#radio0
{
position: absolute;
width:178.166666px;
height:33.166666px;
top:330px;
left:100px;
z-index:10;
}#text0
{
position: absolute;
width:388.166666px;
height:283.166666px;
top:160px;
left:210px;
z-index:10;
}