body
		{
		    width: 720px;
		    margin: 0px 0px;
		}#miejsce
{
width:720px;
height:480px;
}#radio0
{
position: absolute;
width:28.166666px;
height:203.166666px;
top:250px;
left:380px;
z-index:10;
}#text0
{
position: absolute;
width:98.166666px;
height:33.166666px;
top:250px;
left:280px;
z-index:10;
}#text1
{
position: absolute;
width:98.166666px;
height:33.166666px;
top:340px;
left:280px;
z-index:9;
}#text2
{
position: absolute;
width:38.166666px;
height:123.166666px;
top:250px;
left:250px;
z-index:8;
}#text3
{
position: absolute;
width:98.166666px;
height:33.166666px;
top:420px;
left:270px;
z-index:7;
}