body
		{
		    width: 720px;
		    margin: 0px 0px;
		}#miejsce
{
width:720px;
height:480px;
}#check0
{
position: absolute;
width:88.166666px;
height:273.166666px;
top:170px;
left:150px;
z-index:10;
}#radio0
{
position: absolute;
width:98.166666px;
height:33.166666px;
top:180px;
left:270px;
z-index:10;
}#radio1
{
position: absolute;
width:98.166666px;
height:33.166666px;
top:330px;
left:270px;
z-index:9;
}#text0
{
position: absolute;
width:98.166666px;
height:33.166666px;
top:260px;
left:270px;
z-index:10;
}#text1
{
position: absolute;
width:98.166666px;
height:33.166666px;
top:410px;
left:270px;
z-index:9;
}