body
		{
		    width: 720px;
		    margin: 0px 0px;
		}#miejsce
{
width:720px;
height:480px;
}#radio0
{
position: absolute;
width:98.166666px;
height:33.166666px;
top:410px;
left:340px;
z-index:10;
}#radio1
{
position: absolute;
width:98.166666px;
height:33.166666px;
top:290px;
left:550px;
z-index:9;
}#radio2
{
position: absolute;
width:58.166666px;
height:203.166666px;
top:260px;
left:210px;
z-index:8;
}#text0
{
position: absolute;
width:98.166666px;
height:33.166666px;
top:280px;
left:360px;
z-index:10;
}#text1
{
position: absolute;
width:98.166666px;
height:33.166666px;
top:350px;
left:440px;
z-index:9;
}#text2
{
position: absolute;
width:98.166666px;
height:33.166666px;
top:410px;
left:550px;
z-index:8;
}