body
		{
		    width: 720px;
		    margin: 0px auto;
		}#miejsce
{
width:720px;
height:480px;
}#text0
{
position: absolute;
width:98.166666px;
height:33.166666px;
top:270px;
left:620px;
z-index:10;
}#text1
{
position: absolute;
width:98.166666px;
height:33.166666px;
top:320px;
left:520px;
z-index:9;
}#text2
{
position: absolute;
width:98.166666px;
height:33.166666px;
top:360px;
left:400px;
z-index:8;
}#text3
{
position: absolute;
width:98.166666px;
height:33.166666px;
top:400px;
left:300px;
z-index:7;
}