body
		{
		    width: 720px;
		    margin: 0px auto;
		}#miejsce
{
width:720px;
height:480px;
}#radio0
{
position: absolute;
width:98.166666px;
height:33.166666px;
top:380px;
left:80px;
z-index:10;
}#radio1
{
position: absolute;
width:98.166666px;
height:33.166666px;
top:350px;
left:220px;
z-index:9;
}#text0
{
position: absolute;
width:98.166666px;
height:33.166666px;
top:300px;
left:360px;
z-index:10;
}#text1
{
position: absolute;
width:98.166666px;
height:33.166666px;
top:380px;
left:380px;
z-index:9;
}#text2
{
position: absolute;
width:98.166666px;
height:33.166666px;
top:300px;
left:70px;
z-index:8;
}