body
		{
		    width: 720px;
		    margin: 0px auto;
		}#miejsce
{
width:720px;
height:480px;
}#pytanie0
{
position: absolute;
width:98.166666px;
height:33.166666px;
top:150px;
left:40px;
z-index:10;
}#pytanie1
{
position: absolute;
width:98.166666px;
height:33.166666px;
top:190px;
left:40px;
z-index:9;
}#pytanie2
{
position: absolute;
width:98.166666px;
height:33.166666px;
top:220px;
left:40px;
z-index:8;
}#pytanie3
{
position: absolute;
width:98.166666px;
height:33.166666px;
top:260px;
left:40px;
z-index:7;
}#radio0
{
position: absolute;
width:98.166666px;
height:33.166666px;
top:400px;
left:320px;
z-index:10;
}#radio1
{
position: absolute;
width:98.166666px;
height:33.166666px;
top:440px;
left:320px;
z-index:9;
}#text0
{
position: absolute;
width:98.166666px;
height:33.166666px;
top:360px;
left:320px;
z-index:10;
}